.alignRight {
    float:right;
}

.alignLeft {
    float:left;
}

.alignCenter {
    margin: auto;
}

.clearFloats{
	clear:both;
}

.pageTitle{
	font-weight: 700;	
	font-size:x-large; 
	padding-left: 25px; 	
}


/*
 * Sections
 */
.sectionTableHeader {
	margin: auto;
    width: 100%;
    border-bottom: 1px solid #73AD21;
    padding-left: 10px;
}

.sectionTableHeaderText{
	font-size:large; 	
	float:left;	
}


/*
 * Menu Table
 */
.menuTableColumn{
	float:left;
	width:100%;
    padding-top: 10px;
    padding-left: 10px; 
}
	
/*
 * Feature Table
 */
.featureTableLabelColumn{
	float:left;
    width:20%;
    padding-top: 10px;
    padding-left: 10px;    
}

.featureTableLabelValueColumn{
	float:left;
	width:50%;	
    padding-top: 10px;
    padding-left: 10px; 
}

.featureTableLabelErrorColumn{
	float:left;
	width:30%;		
    padding-top: 10px;
    padding-left: 10px; 
}

.mediaResourceTableColumn{
	padding-bottom: 5px;	
}

.textInputMaxWidth{
	display:block;
	width:100%;
}

/*
 * Article list Table
 */
 .articleTableWrapper{
 	padding: 10px;
 }

.articleListTableHeader{
	padding: 3px;
	background-color: #666666;
    color: 	#f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

 .articleListTableColumn{
    padding: 3px;
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
}

.articleListTableRow1{
	background-color: #f3e4d8;
	border-top: 1px solid #f3e4d8;
}

.articleListTableRow2{
	background-color: #FBFBFB;
	border-top: 1px solid #BBEEEE;
}

/*
 * Actions
 */
.featureTableActionColumn{
	float:right;
    padding-top: 10px;
    padding-right: 10px; 
}

 


