
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    margin: 0 0 100px; /* bottom = footer height */
}

.footerClass {
	border:1px;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/*
 * Util
 */
.imageButton{
  display:block;
} 

.alignRight {
    float:right;
}

.alignLeft {
    float:left;
}

.alignCenter {
    margin: auto;
}

.clearFloats{
	clear:both;
}

.pageTitle{	
	font-weight: 700;	
	font-size:x-large; 
	padding-left: 25px; 	
}

.userWelcomeColumn{
	float:left;		
}

.userWelcomeButton{
	color:#fff;
	border: 0px;	
	background-color:transparent;
}

.logoutColumns{
	float:right;	
}

.logoutButton{
	color:#fff;
	border: 0px;	
	background-color:#6c88e0;	
}



/*
 * Sections
 */
.sectionTableHeader {
	margin: auto;
    width: 100%;
    border-bottom: 1px solid #666666;
    padding-left: 10px;
}

.sectionTableHeaderText{
	font-size:large; 	
	float:left;	
}


/*
 * Menu Table
 */
.menuTableColumn{
	float:left;
	width:100%;
    padding-top: 10px;
    padding-left: 5px; 
}

.menuButton {
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#6c88e0;
	border: 0px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	color:#fff;
	line-height:16px;
	width:100px;
	height:26px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px	
}

.logout{
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;	
	color:#80ffff;	
}
	
/*
 * Feature Table
 */
.featureTableLabelColumn{	
	float:left;
    width:20%;
    padding-left: 10px; 
    padding-top: 10px;
}

.featureTableLabelValueColumn{
	float:left;
	width:80%;	
    padding-left: 10px; 
    padding-top: 10px;    
}

.featureErrorLabel{
	color:red;
}

.mediaResourceTableColumnContent{
	padding-bottom: 5px;	
	width:80%;
}

.mediaResourceTableColumnButton{
	padding-left:5px;	
	padding-bottom: 5px;	
}

.mediaResourceTableButton{
	width:80px;
}

.textInputMaxWidth{
	display:block;
	width:100%;
}

/*
 * Article list Table
 */
 .articleTableWrapper{
 	padding: 10px;
 }

.articleListTableHeader{
	padding: 3px;
	background-color: #666666;
    color: 	#f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

 .articleListTableColumn{
    padding: 3px;
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
}

 .articleListTableColumnButton{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 8px;    
    text-align: left;
}


.articleListTableRow1{
	background-color: #fdf2e8;
	border-top: 1px solid #fdf2e8;
}

.articleListTableRow2{
	background-color: #FBFBFB;
	border-top: 1px solid #BBEEEE;
}

/*
 * Actions
 */
.featureTableActionColumn{
	float:right;
    padding-top: 10px;
    padding-right: 10px; 
}

.featureActionButton{
	background-color:#e78329;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	line-height:16px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border:0;
	min-width:80px;
	height:26px	
}


